# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Environment variables (VERY IMPORTANT)
.env
.env.*

# Git
.git
.gitignore

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile

# Cache
.cache/